In [22]:
#controla o navegador
from selenium import webdriver
#controla o teclado
from selenium.webdriver.common.keys import Keys
import pandas as pd


#abrir o navegador
nav = webdriver.Chrome()

#Pesquisar no google e pega a cotação do Dolar
nav.get("https://www.google.com/")

#Acessar o campo de busca do google e digitar
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dolar")

#Clicar no botão pesquisar
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]').send_keys(Keys.ENTER)

#Armazenado o valor da busca do google
cota_dolar = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

#Acessar o campo de busca do google #escrever com o send_keys
nav.get("https://www.google.com/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")

#Clicar no botão pesquisar
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

#pegando valor da busca do google
cota_euro = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")



#Acessando um site de cotação do ouro
nav.get('https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20306%2C10.')
cota_ouro = nav.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
#Trocando , por .
cota_ouro = cota_ouro.replace("," , ".")


#Fecha o Chrome
nav.close()
print("-"*60)
print("\t------------Cotações------------")
print(f"Cotação do Dólar: {cota_dolar}")
print(f"Cotação do Euro: {cota_euro}")
print(f"Cotação do Ouro: {cota_ouro}")


#importando a base de dados
bd_produtos = pd.read_excel("Produtos.xlsx")
print("-"*60)
print("\n\t\t\t------------Data Frame------------")
display(bd_produtos)

#passo 1: Atualizar as cotações

bd_produtos.loc[bd_produtos["Moeda"] == "Dólar", "Cotação"] = float(cota_dolar)
bd_produtos.loc[bd_produtos["Moeda"] == "Euro", "Cotação"] = float(cota_euro)
bd_produtos.loc[bd_produtos["Moeda"] == "Ouro", "Cotação"] = float(cota_ouro)

#pass 2: atualizar o preço base reais --> cotação * preço base original
bd_produtos["Preço Base Reais"] = bd_produtos["Cotação"]*bd_produtos["Preço Base Original"]

#passo 3: atualizar o preço final --> Preço base reais * Ajuste
bd_produtos["Preço Final"] = bd_produtos["Preço Base Reais"]*bd_produtos["Ajuste"]

#Ajustando com duas casas decimais
bd_produtos["Preço Final"] = bd_produtos["Preço Final"].map("{:.2f}".format)
bd_produtos["Preço Base Reais"] = bd_produtos["Preço Base Reais"].map("{:.2f}".format)
bd_produtos["Cotação"] = bd_produtos["Cotação"].map("{:.2f}".format)

print("\n\t------------Data Frame com os Dados atualizados------------")
display(bd_produtos)

#Exportando os dados atualizados para um arquivo excel
bd_produtos.to_excel("Preço Atualizado.xlsx") #Para tirar o index da tabela
print("-"*60)
print("\nTabela Exportada com Sucesso!")

------------------------------------------------------------
	------------Cotações------------
Cotação do Dólar: 5.338299999999999
Cotação do Euro: 6.469405695000001
Cotação do Ouro: 304.29
------------------------------------------------------------

			------------Data Frame------------

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

		------------Data Frame com os Dados atualizados------------

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.34,5338.25,1.40,7473.55
1,Carro Renault,4500.00,Euro,6.47,29112.33,2.00,58224.65
2,Notebook Dell,899.99,Dólar,5.34,4804.42,1.70,8167.51
3,IPhone,799.00,Dólar,5.34,4265.30,1.70,7251.01
4,Carro Fiat,3000.00,Euro,6.47,19408.22,1.90,36875.61
5,Celular Xiaomi,480.48,Dólar,5.34,2564.95,2.00,5129.89
6,Joia 20g,20.00,Ouro,304.29,6085.80,1.15,6998.67

------------------------------------------------------------

Tabela Exportada com Sucesso!